@model List<AgriNov.Models.Activity>

@{
    Layout = "_BaseLayout";
    ViewBag.Title = "Tous les ateliers";
}
@section ExtraStyle {
    <link rel="stylesheet" href="~/CSS/tilestyle.css">
    <link rel="stylesheet" href="~/CSS/buttonsstyle.css">
}

<div class="all-tiles-box">
    @foreach (AgriNov.Models.Activity activity in Model)
    {
        <div class="activity-tile">
            <div class="preview-img"></div>
            <div class="tile-content">
                <div class="text-content">
                    <h2 class="activity-name">@activity.Name</h2>
                    <p class="activity-author">@activity.Location</p>
                    <p class="activity-date">@activity.Datetime.ToString("dd/MM/yyyy HH:mm")</p>
                </div>
                <div class="btn-div">
                    <a href="@Url.Action("ShowActivityDetails", "Activity", new { id = activity.Id, returnUrl = "ShowAllActivities"})" class="btn-inscription">en savoir plus</a>
                </div>
            </div>
        </div>
    }
</div>