<!DOCTYPE html>
<html>
<head>
    <title>Accès refusé</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="~/img/global/Logo.ico">
    <link rel="stylesheet" href="@Url.Content("~/CSS/errorpages.css")">
</head>

<body>
    <div class="error-container">
        <h1>Accès refusé</h1>

        <div class="line"></div>

        <h3>Vous n'avez pas la permission d'accéder à cette page.</h3>
        <div class="error-logo">🚫🚫🚫🚫</div>
        <a class="return-home" href="@Url.Action("Index", "Home")">Retourner à l'acceuil</a>
    </div>
</body>
</html>