@{
    Layout = "_BaseLayout";
    ViewBag.Title = "Nos Coordonnées";
}

@section ExtraStyle {
    <link rel="stylesheet" href="~/CSS/contact.css" />
}

<div class="contact-header">
    <h2>nos coordonnées</h2>
    <div></div>
    <div class="underline" id="underline-1"></div>
    <div class="underline" id="underline-2"></div>
    <div class="underline" id="underline-3"></div>
</div>

<div class="main-content">

        <div class="contact-info">
            <h4>
                Une question ? N'hésitez pas à nous contacter par email ou téléphone. Vous pouvez également venir directement nous rencontrer sur notre site.
            </h4>

        <div class="contact-subcontainer">
            <div class="contact-item">
                <svg width="45" height="45" viewBox="0 0 59 73" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M29.5035 0C45.7832 0 59 13.2396 59 29.5474C59 38.8105 54.7391 47.6709 49.4383 54.8954C41.9503 65.1129 32.5833 71.9862 32.5833 71.9862C32.5803 71.9862 32.5803 71.9862 32.5803 71.9892C30.7495 73.3369 28.2535 73.3369 26.4197 71.9892C26.4197 71.9862 26.4197 71.9862 26.4167 71.9862C26.4167 71.9862 17.0499 65.1126 9.56166 54.8954C4.26405 47.6677 0 38.8066 0 29.5474C0.0059932 13.2396 13.2229 0 29.5027 0H29.5035ZM29.5035 17.379C22.8005 17.379 17.359 22.8298 17.359 29.5443C17.359 36.2618 22.8006 41.7127 29.5035 41.7127C36.2064 41.7127 41.6479 36.2618 41.6479 29.5474C41.6479 22.8329 36.2064 17.379 29.5035 17.379Z" fill="#D15150" />
                </svg>

                <div>
                    12 rue des producteurs,<br>
                    44190 Clisson, France
                </div>
            </div>

            <div class="contact-item">
                <svg width="40" height="40" viewBox="0 0 61 61" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M28.3101 13.0976C28.3101 11.899 29.2908 10.9183 30.4894 10.9183C41.2989 10.9183 50.1035 19.7228 50.1035 30.5323C50.1035 31.731 49.1228 32.7117 47.9241 32.7117C46.7254 32.7117 45.7448 31.731 45.7448 30.5323C45.7448 22.1204 38.9017 15.277 30.4894 15.277C29.2908 15.277 28.3101 14.2963 28.3101 13.0976ZM31.7753 4.55464C45.4831 4.55464 56.6413 15.7128 56.6413 29.4207C56.6413 30.6194 57.622 31.6 58.8207 31.6C60.0193 31.6 61 30.6194 61 29.4207C61 13.2936 47.8807 0.195966 31.7753 0.195966C30.5766 0.195966 29.5959 1.17663 29.5959 2.3753C29.5959 3.57397 30.5766 4.55464 31.7753 4.55464ZM55.3337 39.9687L41.909 38.1816C39.0977 37.8112 36.4171 39.2713 35.2402 41.8429C35.1095 42.1262 34.9787 42.4314 34.8698 42.7147C31.3828 41.1891 28.1356 39.0316 25.3895 36.351C25.1497 36.1113 24.91 35.8933 24.6485 35.61C22.0115 32.8859 19.8322 29.6386 18.3284 26.1521C18.6335 26.0431 18.9168 25.9123 19.2002 25.7816C21.7718 24.6047 23.2319 21.9023 22.8614 19.1128L21.0744 5.68807C20.7039 2.89852 18.5246 0.653766 15.7786 0.19614C15.0594 0.0653801 14.2966 0 13.5121 0C6.3206 0 0.392804 5.62269 0.0217934 12.7273C0 12.9889 0 13.2504 0 13.5119V14.1221C0.3269 40.0782 20.9216 60.6728 46.7033 60.9782C46.9649 61 47.2264 61 47.4879 61H48.1853C55.3768 60.6295 60.9998 54.7018 60.9998 47.5097C60.9998 46.7252 60.9344 45.9624 60.8036 45.2432C60.3678 42.4973 58.1013 40.3397 55.3117 39.9474L55.3337 39.9687Z" fill="#D15150" />
                </svg>

                <div>+33 2 40 00 00 00</div>
            </div>

            <div class="contact-item">
                <svg width="45" height="45" viewBox="0 0 74 73" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M42.5553 72.9995V50.4918H31.4489V72.9995H42.5553ZM72.851 28.7148L37.0322 0L1.0589 28.8432C0.448857 29.3318 0.0969983 30.0261 0.0163506 30.7493C-0.0611158 31.4758 0.135777 32.2344 0.626397 32.8387C1.11702 33.4462 1.81422 33.7967 2.54046 33.877C3.26993 33.9541 4.0317 33.758 4.63854 33.2694L35.9672 8.15479C36.5643 7.65977 37.4488 7.63406 38.0782 8.1355L69.2647 33.1407C69.3228 33.1825 69.3776 33.2243 69.4325 33.2725C70.0297 33.7193 70.7559 33.8961 71.4595 33.8222C72.1567 33.7482 72.8281 33.4204 73.3155 32.8578C73.351 32.8064 73.3897 32.7582 73.4317 32.7132C73.8804 32.1185 74.0579 31.3952 73.9837 30.6945C73.9094 30.0002 73.5802 29.3317 73.0153 28.8462C72.9604 28.8045 72.9056 28.7627 72.8539 28.7144L72.851 28.7148ZM62.8775 32.2796V71.3381C62.8775 71.7946 62.6903 72.2092 62.3869 72.5114C62.0835 72.8136 61.6671 73 61.2087 73H45.8931V48.8308C45.8931 47.9115 45.1443 47.169 44.2244 47.169H29.7772C28.854 47.169 28.1085 47.9148 28.1085 48.8308V73H12.7929C12.3345 73 11.9181 72.8136 11.6147 72.5114C11.3113 72.2093 11.1241 71.7946 11.1241 71.3381V32.3347L37.0363 11.56L62.8807 32.2837L62.8775 32.2796Z" fill="#D15150" />
                </svg>

                <div>agrinov-contact@gmail.com</div>
            </div>
        </div>
    </div>

        <div class="map-container">
            <iframe 
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d54399.168272519394!2d-1.362655624927586!3d47.08625434051511!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4805f944d9460f9b%3A0x56a097cc9b1878a1!2sClisson%2C%20France!5e0!3m2!1sen!2sfr!4v1605676016652!5m2!1sen!2sfr"
                frameborder="0"
                allowfullscreen=""
                aria-hidden="false"
                tabindex="0">
            </iframe>
        </div>
    </div>

