/* Colors */
:root {
    --darkViolet: #31152E;
    --lightViolet: #6A2041;
    --paleRed: #9C3344;
    --orangeRed: #D15150;
    --orange: #EB7051;
    --lightOrange: #FE9E55;
    --headerParagraph: #CBA8C7;
    --contentParagraph: #2C2C2C;
    --ghDarkBg: linear-gradient(180deg, #FFFFFF 0%, #CBA8C7 100%);
    --ghLightBg: linear-gradient(180deg, #000000 0%, #464545 100%);
    --transparentBg: rgba(21, 9, 20, 0.5);
}

.orange-btn {
    background-color: var(--orange);
    text-decoration: none;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 0.9rem;
    transition: background-color 0.3s ease;
    display:flex;
    justify-content:center;
}

.orange-btn:hover {
   background-color: #e67e50;
}

.lightOrange-btn {
    background-color: var(--lightOrange);
    text-decoration: none;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 0.9rem;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
}

.lightOrange-btn:hover {
    background-color: #FFB57C;
}

.orangeRed-btn {
    background-color: var(--orangeRed);
    text-decoration: none;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 0.9rem;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
}

.orangeRed-btn:hover {
    background-color: #E47271;
}

.demo-btn {
    position: relative;
    margin: 10px;
    margin-left: auto;
    width: 20px;
    border: solid 1px var(--orange);
    text-decoration: none;
    color: var(--orange);
    padding: 10px 20px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 0.9rem;
    transition: background-color 0.3s ease;
    display: flex;
    flex-direction: row;
    justify-content: center;
    opacity:0.3;
}

.demo-btn2 {
    position: relative;
    margin: 10px;
    width: 20px;
    border: solid 1px var(--orange);
    text-decoration: none;
    color: var(--orange);
    padding: 10px 20px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 0.9rem;
    transition: background-color 0.3s ease;
    display: flex;
    flex-direction: row;
    justify-content: center;
    opacity: 0.3;
}

.rounded {
    --_bdrs: 50%;
}

.w-250px {
    width: 250px;
}

.w-100 {
    width: 100%;
}
.w-50 {
    width: 50%;
}

.w-30 {
    width: 30%;
}

.button-container{
    gap: 20px;
}

.button-container2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}