body {
    background: #FFF4EE;
    margin-top: 3%;
    margin-left: 3%;
    margin-bottom: 1%;
}

.account-container {
    width: 95%;
    padding: 5%;
}

.account-card {
    background: white;
    border: 1px solid var(--orange);
    border-radius: 8px;
    padding: 20px;
    padding-left : 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.profile-section {
    display: flex;
    gap: 80px;
    
}

.profile-image {
    width: 150px;
    height: 150px;
    border: 1px solid var(--orange);
    border-radius: 50%;
    overflow: hidden;
    
}

    .profile-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

.profile-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-top: 10px;
}

.info-label {
    font-weight : bold;
}



.action-buttons {
    padding-top: 50px;
    display: flex;
    justify-content:center;
    gap : 30px;
    padding-right : 50px;
}

.action-btn {
    font-family:'Comfortaa';
    display: block;
    padding: 8px 16px;
    border-radius: 4px;
    background-color: var(--orange);
    color: white;
    border: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

    .action-btn:hover {
        background-color: var(--lightOrange);
    }

.management-section {
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap : 15px;
    margin-right : 15px;
}

.management-card {
    font-family: 'Comfortaa';
    font-weight: bold;
    display: block;
    background: white;
    padding: 70px 0px 70px 0px;
    border-radius: 8px;
    text-align: center;
    box-shadow: var(--lightOrange) 5px 5px, var(--orangeRed) 10px 10px, var(--paleRed) 15px 15px;
    border: solid 1px var(--lightOrange);
    transition: all 0.2s;
    text-decoration: none;
    color: black;
}

    .management-card:hover {
        transform: translate(2px, 2px);
        box-shadow: var(--lightOrange) 3px 3px, var(--orangeRed) 6px 6px, var(--paleRed) 9px 9px;
    }
