@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter_18pt-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Comfortaa';
    src: url('/fonts/Comfortaa-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* Colors */
:root {
    --darkViolet: #31152E;
    --lightViolet: #6A2041;
    --paleRed: #9C3344;
    --orangeRed: #D15150;
    --orange: #EB7051;
    --lightOrange: #FE9E55;
    --headerParagraph: #CBA8C7;
    --contentParagraph: #2C2C2C;
    --ghDarkBg: linear-gradient(180deg, #FFFFFF 0%, #CBA8C7 100%);
    --ghLightBg: linear-gradient(180deg, #000000 0%, #464545 100%);
    --transparentBg: rgba(21, 9, 20, 0.5);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #FFF4EE;
    text-align: center;
}


.container {
    position: relative;
    width: 1200px;
    height: 760px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 4px 20px 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.container .box {
    position: relative;
    width: 45%;
    height: 100%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2.5em;
}

.container .box h2 {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    margin-bottom: 0.8em;
}

.container .box button {
    background-color: var(--paleRed);
    border: 1px;
    border-color: white;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1em;
    margin-top: 2em;
    transition: background-color 0.3s ease;
}

.container .box button:hover {
    background-color: var(--lightViolet);
}

.formBx
{
    position: absolute;
    left: 50px;
    width: 550px;
    height: 836px;
    z-index:1000;
    background-color: var(--paleRed);
    border-radius: 20px;
    border-color: var(--paleRed);
    background: linear-gradient(205.52deg, #F45655 3.56%, #B44949 98.94%);
    box-shadow: 2px 2px 10px 5px rgba(0, 0, 0, 0.25);
    transition: 0.5s;
    transition-delay: 0.5s;
    overflow: hidden;
}

.slide .formBx
{
    left: 600px;
}

.formBx .form {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    background: transparent;
}

.formBx .form.signupform {
    top: 100%;
    transition-delay: 0s;
}

.slide .formBx .form.signupform {
    top:0;
    transition-delay: 1s;
}

.formBx .form.signinform {
    top: 0;
    transition-delay: 1s;
}

.slide .formBx .form.signinform {
    top: -100%;
    transition-delay: 0s;
}

.formBx .form form {
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    width: 100%;
    color: #FFFFFF;
} 

.formBx .form form h3 {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    margin-bottom: 1em;
}

.formBx .form form input[type="text"],  .formBx .form form input[type="password"]{
    margin-bottom: 10px;
    margin-top: 5px;
    width: 100%;
    padding: 10px;
    border: 1px solid #EABAAA;
    border-radius: 5px;
    background-color: #FFF6F3;
    color: #333;
    font-size: 1em;
    box-sizing: border-box;
    box-shadow: rgba(209, 81, 80, 1) 0px 1px;
}

.formBx .form form input[type="submit"] {
    align-self: center;
    margin-top: 1em;
    background-color: transparent;
    border: 1px solid;
    border-color: white;
    color: white;
    width: 60%;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.formBx .form form input[type="submit"]:hover {
    background-color: var(--lightViolet);
}

.validation-error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

.return-link {
    position: absolute;
    top: 0;
    left:0;
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 700;
    font-size: 1vw;
    line-height: 110%;
    height: 20px;
    padding: 20px;
    text-decoration: none;
    color: var(--orangeRed);
    margin-left: 100px;
    top:150px;
}

.return-link:hover {
    text-decoration: underline;
}
