.table-container {
    margin: 150px auto;
    margin-bottom: 0px;
    width: 80%;
    height: 650px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: var(--lightOrange) 3px 3px, var(--orangeRed) 6px 6px, var(--paleRed) 9px 9px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    margin: 0 auto;
    padding: 20px;
    width: 95%;
    border-collapse: collapse;
    position: absolute;
    background-color: #EB7051;
}

tr {
    width: 100%;
}

thead {
    display: table;
    table-layout: fixed;
    background-color: #EB7051;
    color: #FFFFFF;
    margin-right: 17px;
    
}



tbody {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    overflow-y: auto;
    
}

    tbody tr {
        display: table;
        background-color: white;
        border-bottom: solid 2px #EB7051;
    }


th,
td {
    padding: 20px 10px 20px 10px ;
    text-align: center;
   
}

table thead th,
table tbody td {
    width: calc(100%/var(--colNbr));
}

tbody tr:hover {
    background-color: antiquewhite;
}

.btn-container {
    margin: 50px auto;
    margin-bottom: 200px;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.checkbox {
    display: block;
}

.btn-container button:disabled {
    background-color: #A64C35;
    opacity: 0.7;
    cursor: not-allowed;
}

tbody tr.selected {
    background-color: antiquewhite;
}

.checkbox-td input[type="checkbox"] {
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    accent-color: #EB7051;
}



.table-container-production {
    margin: 150px auto;
    margin-bottom: 0px;
    width: 80%;
    height: 650px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: var(--lightOrange) 3px 3px, var(--orangeRed) 6px 6px, var(--paleRed) 9px 9px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-container-production {
    
    border : none;
    display: flex;
    flex-direction: row;
    margin : 10px auto auto 20px 
}
